<div class=" main_list">
  <nav class="nav navigation_menu">
    <a class="nav-link active title_name top_menu" aria-current="page" href="#">WERLTON</a>
    <a class="nav-link active linked top_menu" aria-current="page" href="/travels">MAIN</a>
    <a class="nav-link linked top_menu" href='#'>ABOUT US</a>
    <a class="nav-link linked top_menu" href="<%= tours_path%>">TOURS</a>
    <a class="nav-link linked top_menu" href="<%= gallery_path%>">GALLERY</a>
    <a class="nav-link linked top_menu" href="<%= information_path%>">ORDERS</a>
    <a class="nav-link linked top_menu" href="#">CONTACTS</a>
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
  </nav>
    <p class="title_about">ABOUT US</p>
    <div class="info_about ">
            <p class="phrase_about">We love to travel and want you to be able to go to the most beautiful places on the planet! We are always looking for the best deals for you and always offer the best!</p>
            <a class="authors" href='https://github.com/Teafedos'>My all projects</a>
            <a class="authors" href='https://www.behance.net/gallery/121586571/Travel-time'>Reference site</a>
    </div>


</div>