<div class="start_icon version1">
  <nav class="nav navigation_menu">
    <a class="nav-link active title_name top_menu" aria-current="page" href="#">WERLTON</a>
    <a class="nav-link active linked top_menu" aria-current="page" href="#">MAIN</a>
    <a class="nav-link linked top_menu" href='<%= about_path%>'>ABOUT US</a>
    <a class="nav-link linked top_menu" href="<%= tours_path%>">TOURS</a>
    <a class="nav-link linked top_menu" href="<%= gallery_path%>">GALLERY</a>
    <a class="nav-link linked top_menu" href="<%= information_path%>">ORDERS</a>
    <a class="nav-link linked top_menu" href="#">CONTACTS</a>
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
  </nav>

  <div class="title_icon_name">
    <p class="name_icon">TRAVEL TIME</p>
    <p class="phrase_icon">Bon't let the loud noise scare you,</p>
    <p class="phrase_icon">Let the rhythms of the dance amuse you.</p>
    <p class="phrase_icon">You are given a very rare chance</p>
    <p class="phrase_icon">Feel the movement of our ancestors</p>
  </div>

  <div class="numbers">
    <p class="one">01</p>
    <p class="two">02</p>
    <p class="three">03</p>
    <p class="two">04</p>
    <p class="one">05</p>
  </div>
</div>

<div class="start_icon version2">
  <p class="title_popular">POPULAR TOURS</p>
  <div class="popular_tours">
    <div class="ptour pone">
      <a class="Tour_name" href="/tours/2">TOUR 1</a>
      <p class="mini_body">Let's explore the streets of London</p>
    </div>

    <div class="ptour ptwo">
      <a class="Tour_name" href="/tours/3">TOUR 2</a>
      <p class="mini_body">Let's stay in the city of love</p>
    </div>

    <div class="ptour pthree">
      <a class="Tour_name" href="/tours/5">TOUR 3</a>
      <p class="mini_body">Let's climb high into the mountains</p>
    </div>

    <div class="ptour pfour">
      <a class="Tour_name" href="/tours/4">TOUR 4</a>
      <p class="mini_body">Let's go down the mountain on skis</p>
    </div>
  </div>
</div>

<div class="start_icon version3">
    <p class="name_icon_footer">DISCOVER THE WORLD IN A NEW WAY</p>
    <table>
      <th class="stable_one">
        <p class="quote">"Attachment to things and comfort is the main obstacle to an interesting life. People, as a rule, do not realize that at any time they can throw anything out of their lives. Anytime. Instantly.»</p>
        <p class="quote">©Carlos Castaneda</p>
      </th>
      <th class="screenshots">
        <a class="prev" href="#"><img src="/assets/prev_one.jpg" width="324px" height="190px"></a>
      </th>

      <th class="screenshots">
        <a class="prev" href="#"><img src="/assets/praha.jpeg" width="324px" height="190px"></a>
      </th>
    </table>
</div>
