.main_list{
    background-image: url("about_us/about.jpg");
    color: white;
    min-height: 1350px;
    max-width: 100%;
}

.title_about{
    font-weight: bold;
    font-size: 50px;
    margin-left: 25%;
    padding-top: 5%;
    min-width: 30%;
}

.info_about{
    max-width: 80%;
    margin-left: 10%;
    background-color: black;
    opacity: 0.8;
}

.phrase_about{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    max-width: 60%;
    margin-left: 20%;
    padding-top: 2%;
}

.authors{
    font-size: 30px;
    font-weight: bold;
    margin-left: 27%;
}