.main_list{
    background-image: url("about_us/about.jpg");
}

.title_about{
    font-weight: bold;
    font-size: 50px;
    margin-left: 42.5%;
    padding-top: 5%;
}

.info_about{
    width: 40%;
    height: 60%;
    margin-left: 30%;
    background-color: black;
    opacity: 0.8;
}

.phrase_about{
    font-size: 44px;
    font-weight: bold;
    text-align: center;
    height: 100%;
    width: 80%;
    margin-left: 10%;
    padding-top: 15%;
}

.authors{
    font-size: 30px;
    font-weight: bold;
    margin-left: 17%;
}