.order_background{
    background-image: url("order.jpg");
    width: 100%;
    margin-left: -100px;
    height: 70rem;
}

.search_field{
    margin-left: 5%;
    min-width: 40%;
}

.search_icon{
    margin-top: 10%;
}

.info_about_order{
    color: white;
    padding-top: 10%;
    background-color: black;
    opacity: 0.6;
    height: 700px;
}

.order_tour_info{
    margin-left: 20%;
}