.title_tours{
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    padding-top: 5%;
    color: white;
    
}
.info_card{
    margin-left: 5%;
    margin-top: 10%;
    color: black;
}

.tour_main{
    background-color: black;
    height: 2500px;
}

.tour_body{
    height: 1200px;
    color: white;
}